body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  line-height: 1.75;
  letter-spacing: 0.05em;
  text-align: justify;
}

p {
  font-size: 15px;
}

header{
  justify-content: center;
  margin: auto;
}

h2{
  text-align: center;
  display: table;
  position: relative;
  margin: auto;
  padding-bottom: 30px;
  letter-spacing: 0.08em;
  color: #5ac5cc;
  line-height: 1;
  font-size: 44px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  background-size: contain;
  background-image: -webkit-linear-gradient(0deg, #5ac5cc 0%, #2481e1 100%);
  background-image: -moz-linear-gradient(0deg, #5ac5cc 0%, #2481e1 100%);
  background-image: -o-linear-gradient(0deg, #5ac5cc 0%, #2481e1 100%);
  background-image: linear-gradient(90deg, #5ac5cc 0%, #2481e1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3{
  color: #138fd0;
  text-align: center;
  margin: auto;
}

h4{
  color: #7a6a55;
  text-emphasis: center;
  margin: 0;
}

li{
  list-style: none;
}

/* .a-reserve{
  text-decoration: none ;
} */
/* #header-top-right{ */
/* } */
/* #header-top{
  margin: 3% 5%;
  padding: 10px auto;
  display: flex;
  justify-content: space-between;
} */

/* #footer-reserve{
  width: 200px;
  height: 50px;
  margin:auto auto;
  text-align: center;
  line-height: 1;
  letter-spacing: 0;
  background-image: linear-gradient(90deg, #5ac5cc 0%, #2481e1 100%);
  border-radius: 35px;
  color: #fff;
  position: relative;
  display: block;
  line-height: 42px;  
  font-weight: 100px;
  padding: 10px 20px;
  text-decoration: none ;
} */


nav{
  display: flex;
  justify-content: space-between;
  position:relative;
  width: 100%;
}

#nav-pc > li > span {
  padding-right: 13%;
  color: #555555;
}

nav > a{
  text-align: center;
  font-family: "FOT-筑紫A丸ゴシック Std M";
  letter-spacing: 0.1em;
  color: #7a6a55;
  text-decoration: none;
}

.home::after{
  content:"HOME";
  position: relative;
  display: block;
  color: #5ac5cc;
  font-size: 10px;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.greet::after{
  content:"GREET";
  position: relative;
  display: block;
  color: #5ac5cc;
  font-size: 10px;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.guide::after{
  content:"GREET";
  position: relative;
  display: block;
  color: #5ac5cc;
  font-size: 10px;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.news::after{
  content:"NEWS";
  position: relative;
  display: block;
  color: #5ac5cc;
  font-size: 10px;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.contact::after{
  content:"CONTACT";
  position: relative;
  display: block;
  color: #5ac5cc;
  font-size: 10px;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.acsess::after{
  content:"ACSESS";
  position: relative;
  display: block;
  color: #5ac5cc;
  font-size: 10px;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* .carouselImg{
  position: relative;
  margin: auto;
  width: 900px;
  -webkit-animation: anime 1.8s 0s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  height: 500px;
} */

/* お知らせ*/

#index-news{
  padding-top: 64px;
  padding-bottom: 64px;  
}

#index-news ::after{
  content: "";
  background: url(images/index/background2.png) center / 100% 100% no-repeat;
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: -500px;
  right: 800px;
  z-index: -1;
  
}

/* #index-news ::before{
  content: "";
  background: url(images/index/background1.png) center / 100% 100% no-repeat;
  width: 700px;
  height: 500px;
  position: absolute;
  top: 180%;
  left: 40px;
  z-index: -1;
} */

#index-whichanimals ::before{
  content: "";
  background: url(images/index/background1.png) center / 100% 100% no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 180%;
  left: 40px;
  z-index: -1;
}

#news-message li{
  padding: 20px;
  margin: 20px;
  border-bottom: 1px dashed;
}

#index-news #news-message  li span{
  margin-right: 13%;
  color: #7a6a55;
}

#index-news #news-message  li a{
  margin-right: 13%;
  color: #7a6a55;
  text-decoration: none;
  overflow-wrap:normal;
}

#news-a{
  display: flex;
  display: -ms-flex;
  justify-content: center;
  justify-content: -ms-center;
  align-items: center;
  align-items: -ms-center;
  position: relative;
  width: 120px;
  height: 35px;
  line-height: 1;
  font-size: 14px;
  letter-spacing: 0;
  padding: 3px 5px 0 0;
  background-image: linear-gradient(90deg, #5ac5cc 0%, #2481e1 100%);
  border-radius: 35px;
  color: #fff;
  box-sizing: border-box;
  margin: 0 60%;
}

/* #news-message{
  display: flex;
  justify-content: space-between;
  width: 1052px;
  height: 232px;
  margin: auto;
 }  */

#news-messagge > li{
  padding: 24px 12px;
  border-bottom: 1px dashed;
}

/* #nav-pc{
  width: 1052px;
  height: 232px;
  tmargin: auto;
  box-sizing: border-box;
} */ 

#whichanimals-one h3{
  color: #138fd0;
  text-align: center;
}

#whichanimals-one h4{
  color: #7a6a55;
  text-align: center;
}

/* 対象動物 */
#index-whichanimals{
  padding-top: 64px;
  padding-bottom: 64px;
}

/* .whichanimals-img {
  display: flex;
  justify-content: space-evenly;
} */

#whichanimals-one > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}


/* 診療 */
table {
  margin: 10px;
  padding: 10px;
  width: 100%;
  table-layout: auto;
}

#index-medical::before{
  content: "";
  background: url(images/index/background1.png) center / 100% 150% no-repeat;
  width: 245px;
  height: 170px;
  position: absolute;
  top: 347px;
  left: 80px;
  z-index: -1;
}


.medical-img{
  margin: auto;
  width: 100%;
}

.medical-h3{
  margin: auto;
  width: 100%;
  color: #138fd0;
  text-align: center;
}

.medical-p{
  margin: auto;
  width: 100%;
  color: #7a6a55
  ;
}

#index-medical{
  padding-top: 64px;
  padding-bottom: 64px;
}

#index-medical ::after {
  content: "";
  background: url(images/index/background1.png) center / 100% 100% no-repeat;
  /* width: 254px; */
  height: 200px;
  position: absolute;
  bottom: -40px;
  right: -150px;
  z-index: -1;
}

tr {
  vertical-align: top;
}

td {
  text-align: center;
}

/* フッター
.footer-info{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
} */

.a-reserve{
  width: 200px;
  height: 45px;
  text-align: center;
  line-height: 1; 
  letter-spacing: 0;
  padding: 14px 5px 0 0;
  background-image: linear-gradient(90deg, #5ac5cc 0%, #2481e1 100%);
  border-radius: 35px;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  margin: auto auto;
  display: block;
  text-decoration: none;
  /* margin:5%; */
  /* position: absolute; */
  /* margin-left: 80px; */
}

#footer-left ul{
  text-align: center;
  padding-left: 0;
}

#footer-left a{
  text-align: center;
}

/* #footer-left{
  width: 60%;
} */

#header-top-left{
  width: 100%;
}

.copy{
  width: 100%;
  height: 60px;
  background-color: #98DBDF;
  text-align: center;
  line-height: 4;
}

footer > p {
  color: #fff;
  margin: auto;
  
}

/* #top-image img{
  width: 100%;
  height: 32em;
  text-align: center;
} */



/* CONTACT */

/* お問い合わせ */
#contact{
  margin: 80px auto 80px auto;
}

#contact form{
  margin: auto auto auto 25%;
}
/* 外枠 */
#contact form div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

/* 左列の見出し */
.contact-heading{
  width: 240px;
  align-items: center;
}

.contact-label{
  font-weight: bold;
  color: #7a6a55;
}

.contact-span{
  color: #fff;
  background-color: #822929;
  padding: 0px 7px;
  margin: 0 0 0 20px;
  font-weight: bold;
}

#contact form div label{
  color: #7a6a55;
  padding: 0 10px 0 0; 
}

/* テキストボックス */
.contact-text{
  /* border:0 0 0 0; */
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
  border-bottom-color: #f7f7f7;
  border-bottom-style: solid;
  background-color: #f7f7f7;
}



/* お問い合わせテキスト */
/* .contact-textarea{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
  border-bottom-color: #f7f7f7;
  border-bottom-style: solid;
  background-color: #f7f7f7;
  width: 400px;
  height: 200px;
} */

/* 送信ボタン */

.btn-submit input[type="submit" ]{
      background-color: transparent;
     border: none;
     /* position: absolute; */
     margin: 0 75px;
    
}

.text-submit{
  font-size: 20px;
  display: flex;
    display: -ms-flex;
    justify-content: center;
    justify-content: -ms-center;
    align-items: center;
    align-items: -ms-center;
    position: relative;
    width: 215px;
    height: 45px;
    line-height: 1;
    letter-spacing: 0;
    padding: 0 5px 3px 0;
    transition: ease-in-out 0.2s;
    background-image: linear-gradient(90deg, #5ac5cc 0%, #2481e1 100%);
    border-radius: 35px;
    color: #fff;
    font-family: "FOT-筑紫A丸ゴシック Std M";
    box-sizing: border-box;
    /* text-align: center; */
}

/* ACSESS */
#acsess-acsess{
  margin:80px auto 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .acseess-map {
  width: 100%;
} */

#acsess-clinicinfo{
  margin: 80px auto 80px auto;
}

.clinicinfo{
  display: flex;
  flex-direction: column;
}

.adress-map{
  position: relative;
}

.adress-map ul{
  margin: 15px;
}

.adress-map li{
  padding: 25px 0 50px 0;
  border-bottom: 1px dashed #E5E6EF;
}

.adress-map li:first-child{
  padding: 10px 0 40px 0;
} 

.adress-map dt{
  float: left;
  box-sizing: border-box;
  width: 40%;
  padding-left: 200px;
  font-family: "FOT-筑紫A丸ゴシック Std M";
  color: #138fd0;
}

.adress-map dd{
  float: left;
  color: #7a6a55;t
}

/* #acsess-info{
  margin: 80px auto 80px auto;  
  width: 810px;
  background-color: #E2F2F4;
  padding: 40px;
} */

#acsess-info p{
  color: #7a6a55;
}


#acsess-info h3::before{
  content: url(images/chui.png);
  display: inline-block;
  transform: scale(0.7);
  padding-bottom: 20px;
}



/*================
PC用のスタイル
=================*/
/* 画面幅が768px以上のとき */
@media screen and (min-width: 1010px) {
  /* PC用のスタイルを指定する */
  
  
  /* 横幅設定 */
  body {
    /* max-width: 1080px; */
    max-width: auto;
    min-width: 960px;
    margin: 0 auto 0 auto;
  }

#header-top{
  margin: 2% 10%;
  padding: 10px auto;
  display: flex;
  /* justify-content: space-between; */
}

#top-image img{
  width: 100vmax;
  height: 70vmin;
  text-align: center;
  margin: 0 auto;
}



#nav-pc{
  width: 1052px;
  /* height: 232px; */
  margin: auto;
  box-sizing: border-box;
}

.carouselImg{
  position: relative;
  margin: auto;
  width: 90%;
  -webkit-animation: anime 1.8s 0s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  height: auto;
}

#news-message{
  /* display: flex; */
  /* justify-content: space-between; */
  width: 1052px;
  /* height: 232px; */
  margin: auto;
}

.whichanimals-img {
  display: flex;
  justify-content: space-evenly;
}
.footer-info{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
}

#footer-day{ 
  width: 80%;
  margin-top: 30px;
  margin-left: 50px;
  padding-top: 10px;
  padding-left: 10px;
} 

#footer-left{
  width: 60%;
}

.contact-textarea{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
  border-bottom-color: #f7f7f7;
  border-bottom-style: solid;
  background-color: #f7f7f7;
  width: 400px;
  height: 200px;
}

/* ACSESS */
#acsess-info{
  margin: 80px auto 80px auto;  
  width: 810px;
  background-color: #E2F2F4;
  padding: 40px;
}





}
/*====================
スマートフォン用のスタイル
=====================*/
/* 横幅が767pxまでの場合 */
@media (max-width: 1010px) {
  
  #header-top {
    margin: 3% 10%;
      /* margin: 2% 2%; */
      padding: 10px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

  }

  #top-image img{
    width: 100%;
    height: 16em;
    text-align: center;
  }
  


  nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 80%;
  }  

  #nav-pc {
    /* width: 1052px; */
    /* height: 232px; */
    margin: auto;
    box-sizing: border-box;
  }

  .footer-info {
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100%;
    margin: auto;}
  
  .carouselImg{
    position: relative;
    margin: auto;
    width: 80%;
    -webkit-animation: anime 1.8s 0s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    height: auto;
}
  #news-message{
    display: flex;
    justify-content: space-between;
    /* width: 1010px; */
    /* height: 232px; */
    margin: auto;
  }
  .whichanimals-img {
    /* display: flex; */
    /* justify-content: space-evenly; */
    text-align: center;
  }
  .medical-p{
    margin: auto;
    width: 100%;
    color: #7a6a55;
    font-size: 12px;
}
 .medical-tabel tr img{
    width: 30px;
    }

  .footer-info{
      margin: 3% 0;
        /* margin: 2% 2%; */
        /* padding: 10px auto; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
  
      }
    
  #footer-day{ 
  width: 80%;
  /* margin-top: 30px;
  margin-left: 50px;
  padding-top: 10px; */
  /* padding-left: 10px; */
} 

#footer-reserve{
    text-align: center;
  }

#footer-right{
  text-align: center;
}

.contact-textarea{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
  border-bottom-color: #f7f7f7;
  border-bottom-style: solid;
  background-color: #f7f7f7;
  width: 200px;
  height: 200px;
}
    
    /* 外枠 */
#contact form div{
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

/* ACSESS */
#acsess-info{
  margin: 80px auto 80px auto;  
  /* width: 810px; */
  background-color: #E2F2F4;
  padding: 40px;
}

.adress-map{
  /* position: relative; */
}

.adress-map ul{
  /* margin: 15px; */
}

.adress-map li{
  padding: 25px 0 80px 0;
  border-bottom: 1px dashed #E5E6EF;
}

.adress-map li:first-child{
  padding: 10px 0 40px 0;
} 

.adress-map dt{
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding-left: 1px;
  font-family: "FOT-筑紫A丸ゴシック Std M";
  color: #138fd0;
}

.adress-map dd{
  float: left;
  color: #7a6a55;
}

.acsess-map img{
  width: 100%;
}

/* .acsess-gmap img{
  width: 60%;
} */



}

   


    
  