body {
  font-family: 'YakuHanMP','Shippori Mincho', serif
}
body{
  color: var(--cMain);
  font-size: 12px;
  font-family: 'YakuHanMP', 'Shippori Mincho', serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  position: relative;
  word-break: break-all;
  /* min-width: 1380px; */
  font-weight: 500;
  letter-spacing: 0.5px;
  overflow-y: scroll;
}
p {
  font-size: 15px;
}

img{
  width: 100%;
}

li{
  list-style: none;
}

.slider img{
  width: 100%;
  background: fixed;
}
.boxMenu{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: absolute;
  top: 0%;
  /* left: 80%; */
  letter-spacing: 5px;
  right: 3%;
}

#maintop{
  position: relative;
}
.logoTate{
  display: flex;
  width: 100%;
  /* height: 100%; */
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 125px;
  left: 0;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: #ffffff;
}
.logoTate p{
  text-align: center;
  align-items: center;
  letter-spacing: 5px;
  font-size: 30px;
}
.logoTate h3{
  border-left: 4px dashed #ffffff;
}
.boxItem a{
  color: #ffffff;
  text-decoration: none;
  line-height: 80px;
  font-size: 16px;
}
.aboutTop{
  width: 100%;
}
.aboutTop{
  position: relative;
}
.aboutImg{
  display: flex;
  justify-content: center;
  width: 100%;
}
#secAbout{
  margin-top: 30px;
  margin-bottom: 30px;
}

.aboutRight{
  width: 100%;
  margin-left: 30px;
  margin-top: 300px;
  position: relative;
  
}
.aboutTit{
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  position: absolute;
  right: 25%;
  /* top: 1700px; */
  bottom: 0%;
} 
.aboutTit p{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: 5px;
  background-color: #ffffff;
  color: #000;
  padding: 20px 2px;
}

#expTxt{
  position: relative;
  margin-top: 10em;
}
.tit{
  margin: 3px;
}

.expTxt p{
  font-size: 16px;
  line-height: 2.375;
}
.expTxt{
  margin-left: 100px;
}
.expBtn p{
  margin: 0;
}

.boxBtn{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.Itembtn{
  letter-spacing: 5px;
  padding: 5px 20px;
  font-weight: bold;
  border: solid 1px #ffffff;
  text-align: center;
  align-items: center;
  width: 38%;
  margin-right: 20px;
  margin-bottom: 20px;
  /* background-color: #0c1620; */
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative; /* relative位置を指定 */
  z-index: 0;
  overflow: hidden;
  /* background-color: #000060; */
  
}

  .Itembtn::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: #ffffff;
    color: #282b2d;
    transition: width 0.5s; /* トランジションを指定 */
  }
  
  .Itembtn:hover::before {
    width: 100%;
  }
  
  .Itembtn a{
    /* color: #ffffff; */
  }
  .Itembtn a{
    font-size: 16px;
    text-decoration: none;
    color: #8D8D8D;
  }
  
  .expbtnBox{
    text-decoration: none;
  }
  .expbtnBox p{
    color: #8D8D8D;
  }
  /* 建築実績 */
  #secWorks{
    margin-top: 200px;
    background: url(images/columnimg-GD.png);
    height: 1502px;
    position: relative;
  
  }
  
  /* .shadow{
    background-color: #000;
  width: 100%;
  height: 800px;
  background: linear-gradient(rgba(12, 22, 32, 0) 0%, rgba(12, 22, 32, 1) 100%);
  position: absolute;
  bottom: 119px;
  left: 0;
  z-index: 1
  } */
  
 
  .worksTit{
    display: flex;
    align-items: center;
  }
  .worksTit h2{
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 4px;
  }
  .worksTit p{
 color: #ffffff;
 font-size: 20px;
 margin-left: 12px;
}
 .worksSpan{
   color: #ffffff;
   font-size: 16px;
   line-height: 2.375;
  }
  .worksTops{
    display: grid;
  }
  .columnTit{
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .columnTit h2{
    font-size: 50px;
    letter-spacing: 4px;
  }
.columnTit p{
  font-size: 20px;
  margin-left: 12px;
}
.columnA{
  text-decoration: none;
  max-width: 100%;
  position: relative
  
  /* 画像ホバー時拡大 */
}
.columnA img{
  cursor: pointer;
  height: auto;
  transition: transform .6s ease;
}

.columnA:hover img{
  transform: scale(1.1); /* 拡大 */
 }

.columnUl{
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
}
.columnLi{
  margin: 20px;
  display: flex;
}
.columnLi img{
  border-radius: 10%; 
}
.columnLi2{
  margin: 20px;
}
.columnLi2 img{
  border-radius: 10%; 
}

#secColumn{
  padding: 195px 0 200px;
}
.secColumn{
  margin: 0 auto;
  margin-left: 40px;
  position: relative;
}
.seccolumnTit{
  margin-left: 30px;
}
.ichiranBtn{
  display: flex;
  align-items: center;
  justify-self: center;
  color: inherit;
  width: 152px;
  height: 45px;
  border: 1px solid #0c1620;
  position: absolute;
  top: 12px;
  right: 0;
  justify-content: center;
  columns: #0c1620;
}
.columTop{
  width: 100%;
}
.columTex{
  width: 100%;
}
.boxTxt{
  text-decoration-line: none;
  color: #000;
}


/* お問い合わせ */

.contactTit{
  display: flex;
  align-items: center;
  margin: o auto;
}
.contactTit h2{
  font-size: 50px;
  letter-spacing: 4px;
}
.contactTit p{
  font-size: 20px;
  margin-left: 12px;
}
.secContact{
  margin: 0 auto;
  margin-left: 40px;
}
#secContact{
  margin: 0;
}


/* フッター */
#footer{
  display: flex;
  position: relative;
  padding: 100px 0;
  width: 100%;
  color: #fff;
  background-color: #0c1620;
}
#footer > div{
  width: calc(100%/3);
  
}
.footerleft p{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 30px;
  text-align: center;
  letter-spacing: 5px;
  justify-content: center;
  padding-bottom: 40px;
}
.footerleft{
  margin-left: 40px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
.footerleft h3{
  font-size: 30px;
  margin: 5px;
}
.footerleft span{
  padding-top: 2px;
}
.item::before{
  content: "― ";
}
.item{
  font-size: 15px;
  padding: 10px;
}
.item a{
  text-decoration: none;
  color: inherit;
}

/* .secFooterCopy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
  margin-left: 80%;
  color: #fff;
  } */
  
  #footerTop{
    background-color: #0c1620;
    display: flex;
    flex-direction: column;
  margin-top: 200px;
}
.footerright-left a{
  text-decoration: none;
  color: #fff;
}
.slider{
  padding: 0;
}

.slider {
  /* height: 53vw; */
  margin-inline: auto;
  width: 100%;
}
.slier img {
  width: 100%;
}
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15); /* 拡大率 */
  }
}
.add-animation {
  animation: zoomUp 10s linear 0s normal both;

}
.contactTex {
  border: solid 1px #0c1620;
  padding: 60px 20px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  margin-top: 70px;
  justify-content: center;
  font-size: 22px;
  background: #0c1620;
  position: relative;
  text-decoration: none;
  
  position: relative; 
  z-index: 0;
  overflow: hidden;
  /* background-color: #ffffff; */
}
.contactTex::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  background-color: #ffffff;
  transition: width 0.5s; /* トランジションを指定 */
}

.contactTex:hover::before {
  width: 100%;
}
.contactTex span{
  /* color: #fff; */
  color: #8D8D8D;
}
.expBtn{
  width: 500px;
  letter-spacing: 5px;
  padding: 5px 20px;
  font-weight: bold;
  border: solid 1px #0c1620;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.expBtn .expBtnBox{
  position: relative;
  z-index: 1;
}

.expBtn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0%;
  height: 100%;
  background-color: #282b2d;
  -webkit-transition: .5s;
  transition: .5s;
}
.expBtn:hover::before {
  width: 100%;
}

#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
top:0;
right: 120%;
width:100%;
  height: 100vh;/*ナビの高さ*/
background:#111719;
  /*動き*/
transition: all 0.6s;
}
/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  right: 0;
}
.g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.nav-items-item{
  list-style: none;
  text-align: center;
}
 

/* #g-nav li a{
	color: #fff;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  line-height: 50px;
  font-size: 26px;
  margin-right: 20px;
  letter-spacing: 8px;
  position: relative;
} */
#g-nav h2{
	color: #fff;
	/* text-decoration: none; */
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  line-height: 50px;
  font-size: 26px;
  margin-right: 20px;
  letter-spacing: 8px;
  position: absolute;
  right: 2px;
  top: 60px;
}
.nav-items{
  /* display: flex; */
}
.openbtn{
	position:fixed;
  z-index: 9999;/*ボタンを最前面に*/
	top:10px;
	/* right: 10px; */
  left: 10px;
	cursor: pointer;
    width: 50px;
    height:50px;
}
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  width: 25%;
  writing-mode: sideways-rl;
  text-orientation: mixed;
  color: #fff;
}
.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}
.openbtn span:nth-of-type(4) {
	top:31px;
}
.openbtn span:nth-of-type(5) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
.openbtn.active span:nth-of-type(4) {
  opacity: 0;
}
.openbtn.active span:nth-of-type(5) {
  top: 31px;
}
.nav-adress{
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 8px;
  align-items: center;
  
}
.nav-adress h3{
  font-size: 20px;
}
.nav-adress img{
  width: 20%;
}


/*================
PC用のスタイル
=================*/
@media screen and (min-width: 768px) {
  
 .mainslider-sm{
    display: none;
  }
.aboutLeft-sm{
  display: none;
}

.expBtn{
  width: 500px;
  letter-spacing: 5px;
  padding: 5px 20px;
  font-weight: bold;
  border: solid 1px #0c1620;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.expBtn .expBtnBox{
  position: relative;
  z-index: 1;
}

.expBtn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0%;
  height: 100%;
  background-color: #282b2d;
  -webkit-transition: .5s;
  transition: .5s;
}
.expBtn:hover::before {
  width: 100%;
}



.secWorks{
  position:absolute;
  margin-top: 0;
  /* margin: 70em 130px; */
  z-index: 100;
  width: 98%;
  top: 62%;
  left: 1%;
}
.ichiranA2{
  display: none;
}
.contactTex {
  border: solid 1px #0c1620;
  padding: 60px 20px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  margin-top: 70px;
  justify-content: center;
  font-size: 22px;
  background: #0c1620;
  position: relative;
  text-decoration: none;
}
.ichiranBtn-sf{
  display: none;
}
.footerTop-sf{
  /* display: none; */
}
.secFooterCopy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
  margin-left: 80%;
  color: #fff;
}
.nav-adress{
  color: #fff;
  position: absolute;
  bottom: 35px;
  left: 60px;
  font-size: 13px;
  
}
.nav-adress h3{
  font-size: 30px;
}
.nav-adress img{
  width: 20%;
}
.nav-items{
  display: flex;
}
#g-nav li a{
	color: #fff;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  line-height: 50px;
  font-size: 26px;
  margin-right: 20px;
  letter-spacing: 8px;
  position: relative;
}
.footerTop-sf{
  display: none;
}

}

/*====================
スマートフォン用のスタイル
=====================*/
@media screen and (max-width: 767px) {
  body {
    min-width: 375px;
    margin: 0;
  }
  
.mainslider{
  display: none;
}
.slider{
  display: none;
}
.boxTop{
  display: none;
}
.aboutLeft{
  display: none;
}
.mainslider-sm{
  width: 100%;
}
.aboutLeft-sm{
  width: 100%;
}

#secWorks {
  margin-top: 200px;
  background: url(images/columnimg-GD.png);
  height: 1000px;
  position: relative;
}
/* .aboutTit {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  position: absolute;
  right: 270px;
  top: 683px;
} */


.aboutTit {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  position: absolute;
  right: 110%;
  /* top: 1700px; */
  bottom: -35%;
}

.aboutRight {
    width: 100%;
    margin-left: -100px;
    /* margin-top: 157px; */
    position: relative;
    margin-right: 14px;
}
#secAbout {
  margin-top: 50px;
  margin-bottom: 145px;
}
.expTxt {
  /* text-align: justify; */
  /* margin-left: 100px; */
  justify-content: center;
  margin: 0 20px 0 20px;
}
.expBtn {
  width: 100%;
  letter-spacing: 5px;
  /* padding: 5px 20px; */
  font-weight: bold;
  text-align: center;
  align-items: center;
  border: solid 1px #0c1620;
  padding: 5px 5px;
}
.expTxt p{
  font-size: 12px;
  line-height: 2.375;
}
#secColumn {
  padding: 80px 0 60px;
}
.worksTit h2 {
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 4px;
}

.worksTit p {
    color: #ffffff;
    font-size: 12px;
    margin-left: 12px;
}
.worksSpan {
  color: #ffffff;
  font-size: 12px;
  line-height: 2.375
}
#secWorks {
  margin-top: 200px;
  background: url(images/columnimg-GD.png);
  height: 1000px;
  position: relative;
  width: 100%;
  background-position: 21%;
}
.secWorks {
  position: absolute;
  margin-top: 0;
  /* margin: 70em 130px; */
  z-index: 100;
  margin-top: 98%;
  margin-left: 12px;
}
.secWorks{
  position:absolute;
  /* margin-top: 0; */
  /* margin: 70em 130px; */
  z-index: 100;
  margin-top: 60%;
}
.Itembtn {
  letter-spacing: 5px;
  padding: 5px 20px;
  font-weight: bold;
  border: solid 1px #ffffff;
  text-align: center;
  align-items: center;
  width: 85%;
  margin-right: 8px;
  margin-bottom: 5px;
  background-color: #0c1620;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}
.columnTit h2 {
  font-size: 23px;
  letter-spacing: 1px;
}
.secColumn {
  margin: 0 auto;
  /* margin-left: 40px; */
  position: relative;
}
.columnTit p {
  font-size: 12px;
  margin-left: 12px;
}
.columnLi2{
  display: none;
}
.columnUl{
  padding: 0;
}
.ichiranA{
  display: none;
}
.ichiranBtn{
  display: flex;
    align-items: center;
    justify-self: center;
    color: inherit;
    width: 230px;
    height: 81px;
    border: 1px solid #0c1620;
    position: absolute;
    top: 12px;
    right: 0;
    justify-content: center;
    columns: #0c1620;
}
.contactTit h2 {
  font-size: 23px;
  letter-spacing: 1px;
}
.contactTit p {
  font-size: 12px;
  margin-left: 5px;
}
.secContact {
  /* margin: 0 auto; */
  margin-left: 10px;
}
.contactTex {
  border: solid 1px #0c1620;
  padding: 30px 20px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  /* margin-top: 70px; */
  justify-content: center;
  font-size: 12px;
  background: #0c1620;
  position: relative;
}
#secContact {
  margin: 0 10px;
}
.secFooterLogo {
  width: 320px;
  border-right: 1px solid #282b2d;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
.fotterright-right{
  display: none;
}
.footerleft span{
  display: none;
}
.footerleft h3{
  display: none;
}
.footerleft span{
  display: none;
}
/* .ichiranA2{ */
/* display: none; */
/* } */

.ichiranBtn-sf{
  width: 90%;
  letter-spacing: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 4px;
  font-weight: bold;
  display: block;
  text-align: center;
  border: solid 1px #0c1620;
  margin: 0 10px;
  color: #8D8D8D;

  position: relative; /* relative位置を指定 */
  z-index: 0;
  overflow: hidden;
  background-color: #ffffff;
}
.ichiran-sf{
  text-decoration: none;
}

.ichiranBtn-sf::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  background-color: #282b2d;
  transition: width 0.5s; /* トランジションを指定 */
}

.ichiranBtn-sf:hover::before {
  width: 100%;
}

#footer{
  display: none;
  margin-bottom: 100px;
}
.footerTop-sf{
  color: #fff;
  /* display: flex; */
  /* flex-direction: column; */
  position: relative;
  background: url(images/sm/footerIriguchi-sf2.png);
  background-position: bottom;
}
.footerTit p{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-align: center;
  margin: 0px auto;
  padding-top: 13px;
  
}
.footerTit{
  text-align: center;
  align-items: center;
  position: relative;
}
.footerTex{
  display: flex;
  flex-direction: column;
}
.footerBimage{
  text-align: center;
  justify-content: center;
}
.secFooterCopy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
  /* margin-left: 80%; */
  color: #fff;
  margin-bottom: 100px;
}
.secFooterCopy p{
  font-size: 12px;
}
.footerTex h3{
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}
.footerTex p{
  font-size: 12px;
margin-bottom: 0;
}

.jusho{
  margin-top: 43px;
}
.uketuke{
  margin-top: -15pxS;
  }

.slider{
margin: 0;
}
.nav-items{
  /* display: flex; */
}
#g-nav li a{
	color: #fff;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
  /* -ms-writing-mode: tb-rl; */
  /* writing-mode: vertical-rl; */
  line-height: 50px;
  font-size: 12px;
  margin-right: 20px;
  /* letter-spacing: 8px; */
  position: relative;
}
.g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:35%;
  left:35%;
  transform: translate(-50%,-50%);
}
.nav-adress {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 121px;
  font-size: 8px;
  align-items: center;
  text-align: center;
}

}